.item1 { grid-area: header; }
.item2 { grid-area: main; }
.item3 { grid-area: right; }
.item4 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'main main main right right right'
    'footer footer footer footer footer footer';
  grid-gap: 5px;
  background-color: #E74C3C;
  padding: 10px;
}

.grid-container > div {
  background-color: #B2BABB;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

img {
border-radius: 60px 60px;
border: 2px black;
}

p{
color: black;
font-size:1.0em;
font-family: 'Hammersmith One', sans-serif;
border-radius: 5px 20px; 40px 60px;
}

h4,h3,h2,h1{
text-align:center;
font-family: 'Hammersmith One', sans-serif;
}

li,ul{
text-align:center;
list-style:inside;
color: black;
font-size:1.0em;
font-family: 'Hammersmith One', sans-serif;
}

a:link {
  color: #7F8C8D;
  text-align:center;
}

a:visited {
  color:#566573;
  text-align:center;
}

a:hover {
  color:#FDFEFE;
  text-align:center;
}

a:active {
  color: #d9501e;
  text-align:center;
}

#slider {
    width: 720px;
    height: 400px;
    margin:0 auto;
    overflow: hidden;
}

#slider .slides {
    display: block;
    width: 6000px;
    height: 400px;
    margin: 0;
    padding: 0;
}

#slider .slide {
    float: left;
    list-style-type: none;
    width: 720px;
    height: 400px;
}
